/*
Base colors:
- darkest #313a3f
- dark #6d8492
- medium #b0cee1
- light #f4fbff
*/

/* Generic */

* {
	font-family: arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
}

h1, h2, h3, h4 {
	margin: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Header */

#header {
	background: #071929;
	padding-top: 20px;
}

#header-inline {
  display: inline-block;
  width: 100%;
}

#header-inline .header-section {
  display: inline-block;
  vertical-align: middle;
}

#header-logo {
  margin: 20px 30px 20px 30px;
  width: 90px;
  height: 90px;
}

#header-title {
  color: #fff;
  text-transform: uppercase;
}

#header-title .title-minor {
  margin: 0;
  font-size: 15px;
  line-height: 8px;
}

#header-title .title-minor:first-child {
  margin-top: 20px;
}

#header-title .title-major {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
}

ul#header-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul#header-nav li {
  padding: 10px 12px 0px 0px;
  color: #fff;
  font-size: 16px;
}

ul#header-nav a {
  display: block;
  opacity: 0.6;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .03em;
}

ul#header-nav a:hover {
  opacity: 1.0;
  text-decoration: none;
}

ul#header-nav .icons a {
  display: inline;
  float: left;
  margin-right: 7px;
}

/* Footer */

#footer {
  padding: 20px 0 40px;
  text-align: center;
  font-size: 14px; 
  letter-spacing: .03em;
  color: #aaa;
  border-top: 1px solid #ddd;
}

/* Content */

#content {
	display: block;
  padding: 10px 10px 30px 10px;
}

#content h1, #content h2, #content h3 {
  color: #333;
}

#content p, #content ul {
  color: #222;
  line-height: 1.4;
}

/* Sections */

.fixed-width {
  margin: 0 auto 0 auto;
}

.section {
	display: block;
	position: relative;
	margin: 0 0 10px 0;
  border-top: 1px solid #eee;
}

.section:first-child {
  border-top: 0;
}

.section .content {
	display: block; 
	padding: 30px 25px 15px 25px;
}

.section .content ul {
	padding: 0;
	font-size: 14px;
	list-style: circle;
}

.section .content ul.content-links {
  margin-top: 25px;
}

.section .content ul.content-links li {
	display: inline;
	margin-right: 5px;
}

.section .content ul.content-links li a {
  padding: 6px 12px 6px 12px;
  background: #444;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.section .content ul.content-links li a:hover {
  background: #555;
  text-decoration: none;
}

.section .thumbnail {
	padding: 20px;
	background: #526069;
}

.menu h1, .menu h2, .menu h3, .menu h4 {
	line-height: 100%;
}

.clear:after {
	clear: both;
	content: "";
	display: table;
}

/* Page-specific */

.app-screenshot {
	width: 172px;
	height: 305px;
}

/* Phone-only */
@media only screen and (min-device-width: 480px) {
	.fixed-width {
		max-width: 480px!important;
  }
  
  #header-logo {
    display: none;
  }
  
  #header-title {
    padding: 0 20px 0 20px;
  }
  
  ul#header-nav {
    display: block;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  ul#header-nav li {
    float: clear;
  }
  
  ul#header-nav li.header-nav-sep {
    display: none;
  }
  
  ul#header-nav .icons {
    margin-top: 10px;
  }
  
  ul#header-nav .icons a {
    margin-right: 13px;
  }
  
  ul#header-nav .icons a img {
    width: 30px; 
    height: 30px;
  }
  
	#content h1 {
		font-size: 24px;
	}

	#content h2 {
		font-size: 20px;
	}
  
  #content h3 {
    font-size: 18px;
  }
  
  #content p, #content ul {
    font-size: 16px;
  }

	.section .thumbnail {
		float: none;
		margin-left: 0;
		padding-left: 40px;
	}

	.section .content ul {
		margin-top: 30px;
	}

	.section .content ul li {
		margin-top: 8px;
		margin-bottom: 8px;
	}
}

/* Desktop-only */
@media only screen and (min-width: 940px) {
	.fixed-width {
		max-width: 900px!important;
  }
  
  #header-logo {
    display: inline-block;
  }
  
  #header-title {
    padding: 0;
  }
  
  ul#header-nav {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
  }

  ul#header-nav li {
    float: left;
  }
  
  ul#header-nav li.header-nav-sep {
    display: block;
  }
  
  ul#header-nav .icons {
    margin-top: 0;
  }
  
  ul#header-nav .icons a {
    margin-right: 7px;
  }
  
  ul#header-nav .icons a img {
    width: 15px; 
    height: 15px;
  }
  
	#content h1 {
		font-size: 25px;
	}

	#content h2 {
		font-size: 22px;
	}
  
  #content h3 {
    font-size: 20px;
  }
  
  #content p, #content ul {
    font-size: 16px;
  }

	.section .thumbnail {
		float: right;
		margin: 20px 0 20px 40px;
		padding-left: 20px;
	}

	.section .content ul {
		margin-top: 20px;
	}

	.section .content ul li {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}