.highlighter-rouge .kd,
.highlighter-rouge .k {
	font-weight: 700;
}

.highlighter-rouge .c1 {
	opacity: 0.5;
}

.highlighter-rouge .s,
.highlighter-rouge .sc,
.highlighter-rouge .s2 {
	opacity: 0.8;
}

.highlighter-rouge .nd {
	opacity: 0.6;
}
