
@media (prefers-color-scheme: dark) {

    html {
      background-color: #071929;
    }
  
    body {
      color: #eee;
    }
  
    code {
      color: #888;
    }
  
    pre.highlight {
      background-color: #f5f5f5;
    }
  
    blockquote {
      border-left-color: #888;
    }
  
    hr {
      color: #eee;
      background-color: #eee;
    }
  
    #header-inline a {
      color: #fff;
    }
  
    #header-inline a.icon img {
      filter: brightness(0) invert(1);
    }
  
    #footer-content {
      color: #374959;
    }
  
    #content h1, #content h2, #content h3 {
      color: #eee;
    }
    
    #content p, #content ul {
      color: #eee;
    }
  
    .section-content a {
      color: #ddd;
    }
  
    .section-content ul.section-content-links li a {
      background-color: #172939;
      color: #fff;
    }
  
    .section-content a.section-anchor {
      color: #aaa;
    }
    
    .section-content .upcoming-flag {
      color: #944; 
    }
  
  }
  