---
layout: default
section: talks
title: Talks
description: Talk materials and links.
---

<div class="section clear">
    <div class="section-content">
        <h1>Talks</h1>
        <p>Here are the slides and materials that I promised would be here in the talk that you watched.</p>
    </div>
</div>

{% for talk in site.data.talks reversed %}
<div class="section clear">
    <a name="{{ talk.anchor }}"></a>
    <div class="section-content">
        <h2>
            {{ talk.title }}
            <a href="#{{ talk.anchor }}" class="section-anchor">#</a>
        </h2>
        <p>{{ talk.description }}</p>
        {% for event in talk.events %}
        <div>
            <span class="upcoming-flag" date="{{ event.date | date: "%s" }}" style="display:none;">Upcoming:</span>
            <a href="{{ event.url }}" target="_blank">{{ event.title }}</a>
            {% if event.date and event.title %} &mdash; {% endif %}                
            {{ event.date | date: '%b %-d, %Y' }} 
        </div>
        <ul class="section-content-links">
            {% for link in event.links %}
            <li><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
{% endfor %}

<script>

$(document).ready(function() {
    $(".upcoming-flag").each(function(index, elem) {
        var rawDate = parseInt($(elem).attr('date'))
        if (!isNaN(rawDate)) {
            var date = new Date(0);
            date.setSeconds(rawDate);
            $(elem).toggle(date > new Date());
        }
    });
})

</script>