---
layout: default
title: Talks
description: Talk materials and links.
---

{% for talk in site.data.talks %}
<div class="section clear">
    <a name="{{ talk.anchor }}"></a>
	<div class="section-content">
		<h2>
            {{ talk.title }}
            <a href="#{{ talk.anchor }}" class="section-anchor">#</a>
        </h2>
        {% for event in talk.events %}
            <em>
                <span class="upcoming-flag" date="{{ event.date }}" style="display:none;">Upcoming:</span>
                <a href="{{ event.url }}">{{ event.title }}</a>
                {% if event.date and event.title %} – {% endif %}                
                {{ event.date | date: '%b %-d, %Y' }} 
            </em>
            <br/>
        {% endfor %}
		<p>{{ talk.description }}</p>
		<ul class="section-content-links">
			{% for link in talk.links %}
			<li><a href="{{ link.url }}">{{ link.title }}</a></li>
			{% endfor %}
		</ul>
        
	</div>
</div>
{% endfor %}

<script>

function strToDate(str) {
    var tokens = str.split("-");
    if (tokens.length == 3) {
        return new Date(tokens[0], tokens[1] - 1, tokens[2]);
    } else {
        return new Date(0, 0, 0);
    }
}

$(document).ready(function() {
    $(".upcoming-flag").each(function(index, elem) {
        var eventDate = strToDate($(elem).attr('date'));
        eventDate.setDate(eventDate.getDate() + 1);
        $(elem).toggle(eventDate > new Date());
    });
})

</script>