---
layout: default
title: Talks
description: Talk materials and links.
---

{% for talk in site.data.talks %}
<div class="section clear">
    <a name="{{ talk.anchor }}"></a>
	<div class="section-content">
		<h2>
            {{ talk.title }}
            <a href="#{{ talk.anchor }}" class="section-anchor">#</a>
        </h2>
        {% for event in talk.events %}
            <em>
                <a href="{{ event.url }}">{{ event.title }}</a>
                {% if event.date and event.title %} – {% endif %}                
                {{ event.date }}
            </em>
            <br/>
        {% endfor %}
		<p>{{ talk.description }}</p>
		<ul class="section-content-links">
			{% for link in talk.links %}
			<li><a href="{{ link.url }}">{{ link.title }}</a></li>
			{% endfor %}
		</ul>
        
	</div>
</div>
{% endfor %}