<div id="header" class="fixed-width {{ page.section }}">
    <div id="header-inline">
        <a href="{{ '/' | relative_url }}" class="{% if page.section == 'home' %}selected{% endif %}">
            <img id="header-logo" src="{{ '/img/avatar.png' | relative_url }}" alt="{{ site.title }}" title="{{ site.title }}" />
        </a>

        {% for section in site.data.global.sections %}
        {% if section.path %}
        <a href="{{ section.path | relative_url }}" class="{% if page.section == section.section %}selected{% endif %}">{{ section.title }}</a>
        {% else if section.url %}
        <a href="{{ section.url }}">{{ section.title }}</a>
        {% endif %}
        {% endfor %}

        {% for item in site.data.global.social %}
        {% assign type = item[0] %}
        {% assign service = item[1] %}
        <a href="{{ service.url }}" class="icon" title="{{ service.title }}" {% if service.blank %}target="_blank"{% endif %}>
            <img src="{{ '/img/nav_' | append: type | append: '.png' | relative_url }}"/>
        </a>
        {% endfor %}
    </div>
</div>
